.vscode
__pycache__/
modelnet40_normal_resampled/
giga_dataset_normal_augment_cleaned/
giga_dataset_normal_cleaned/
giga_small_dataset_normal_augment_cleaned/
outputs/
new_dataset/
new_dataset_normal/
old_dataset/
giga_dataset/
giga_dataset_normal/
dataset_normal/
dataset_rgb/
dataset/
wandb/
log/
.cph/
giga_ultra_dataset.zip
treenet5_test.txt 
treenet5_train.txt 
treenet5_val.txt 
treenet10_test.txt 
treenet10_train.txt 
treenet10_val.txt
